<div class="table-responsive list-div">
    <table class="table table-bordered table-striped caption-top fade-in">
        <caption>
            <div class="alert alert-success fade-in" role="alert" *ngIf="isAddCharacter">
                A new contender has arrived !
            </div>

            <div class="alert alert-warning fade-in" role="alert" *ngIf="isUpdateCharacter">
                Champion has been updated !
            </div>

            <button class="btn btn-outline-secondary new-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="displayAddSection()">
                + New Champion
            </button>

            <section class="add-section fade-in" *ngIf="isAddDisplay">
                <div class="form-floating mb-3 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            #active>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                    </div>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="name" class="form-control" id="floatingPassword" placeholder="Name" #name>
                    <label for="floatingPassword">Name</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="title" class="form-control" id="floatingInput" placeholder="Title" #title>
                    <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="key" class="form-control" id="floatingPassword" placeholder="Key" #key>
                    <label for="floatingPassword">Key</label>
                </div>
               


                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-success" for="btn-check-outlined"
                    (click)="addByCharacter(title.value, key.value, name.value, active.checked)">+ Add</label><br>
            </section>
        </caption>
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Key</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let character of characters; let i = index">
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.title }}</td>
                <td *ngIf="character.active"><span class="badge rounded-pill bg-success">Active</span></td>
                <td *ngIf="!character.active"><span class="badge rounded-pill bg-secondary">Unactive</span></td>
                <td>{{character.key}}</td>
                <td>
                    <ng-template #content let-modal>
                        <div class="modal-window">
                            <h4 class="modal-title">Update character</h4>

                            <section class="add-section fade-in">

                                <input type="number" id="{{character.id}}" value="{{character.id}}" #id hidden>

                                <div class="form-floating mb-3 mt-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="active-switch"
                                            [checked]="character.active" #active>
                                        <label class="form-check-label" for="active-switch">Unactive/Active</label>
                                    </div>
                                </div>
                                <p>Name :</p>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="name" class="form-control" placeholder="Name" #name
                                        value="{{character.name}}">
                                </div>
                                <p>Title :</p>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="title" class="form-control" placeholder="Title" #title
                                        value="{{character.title}}">
                                </div>
                                <p>Key :</p>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="key" class="form-control" id="key" placeholder="Key" #key
                                        value="{{character.key}}">
                                </div>

                                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                                <label class="btn btn-outline-secondary edit-button" for="btn-check-outlined"
                                    (click)="updateByCharacter( id.value, title.value, key.value, name.value, active.checked); modal.close()">Edit</label><br>
                            </section>
                        </div>
                    </ng-template>

                    <button class="update-button" (click)="open(content)">Update</button>

                </td>
                <td><button (click)="deleteByCharacter(character)" class="delete-button">Delete</button></td>

            </tr>

        </tbody>
    </table>
</div>